/* -----------style----------- */

* {
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

*:not(input, textarea) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

html {
	_background: url(about:blank);
}

body {
	font-family: Arial, Tahoma, sans-serif;
	text-align: center;
	margin: 0px;
}

h1 {
	margin-top: 60px;
}

.big {
	font-size: 32px;
}

.exbig {
	font-size: 48px;
}

.exxbig {
	font-size: 76px;
}

.el-row {
	margin-bottom: 15px;
}

el-button {
	width: 80px;
}

.buttons-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.buttons-row .el-button {
	font-size: 14px;
	min-width: 100px;
	height: 34px;
	border-radius: 5px;
}

.el-menu-item {
	padding: 5px 20px;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
	outline: 0;
	color: #ffffff;
}

.el-dialog {
    position: relative;
    margin: 0 auto 50px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    width: 80%;
}

.clanname {
	background: url("../images/banner.png") no-repeat;
	text-align: center;
	width: 320px;
	height: 60px;
	background-size: 320px 60px;
	color: #FFF;
	font-size: 20px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: -3%;
	line-height: 30px;
}

.clanbg {
	background: url("../images/clanbg.png") no-repeat center;
	text-align: center;
	width: 100%;
	height: 300px;
	transform: scale(0.75);
	margin: 0 auto;
	display: block;
}

/* -----------logo----------- */

@media only screen and (min-width: 1080px) {
	.logo {
		width: 135px;
		height: 45px;
		background: url("../images/logo.png") no-repeat center;
		background-size: 100%;
		position: fixed;
		z-index: 100;
		left: 50%;
		right: 50%;
		transform: translate(-50%, 35%);
	}

	.url {
		display: block;
		width: 100%;
		height: 100%;
	}

}

.background-alpha {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgb(255 255 255 / 85%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


/* -----------login----------- */


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	max-width: 400px;
}

.comment {
	color: #aaa;
	line-height: 20px;
	font-size: 0.8em;
	margin: 20px 0;
}



/* -----------Waves----------- */



.inner-header {
	height: 200px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.flex {
	/*Flexbox for containers*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.waves {
	position: relative;
	width: 100%;
	height: 40px;
	margin-bottom: -7px;
	/*Fix for safari gap*/
	min-height: 60px;
	max-height: 120px;
}

.content {
	position: relative;
	height: 20vh;
	text-align: center;
	background-color: white;
}

/* Animation */

.parallax>use {
	animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

.parallax>use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

.parallax>use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

.parallax>use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}

	.content {
		height: 30vh;
	}

	h1 {
		font-size: 24px;
	}
}

/* statistics */

.clearfix::after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix {}

.Service-box {
	background-color: #fff;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 40px auto;
}

.Service-content {
	padding: 0;
}

.Service-item {
	display: block;
	width: 200px;
	/* padding: 30px 16px; */
	text-align: center;
	float: left;
	height: 240px;
	margin: 0 0 10px;
	border: 1px solid #E7E7E7;
	box-sizing: border-box;
	border-radius: 10px;
	overflow: hidden;
}

.Service-content .Service-item {
	-webkit-transition: all 160ms;
	transition: all 160ms;
}

.item-image {
	display: inline-block;
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	border: 3px solid transparent;
	margin: 0;
	border-radius: 100%;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 160ms;
	transition: all 160ms;
}

.item-image img {
	width: 100%;
	/* height: 100%; */
	/* display: block; */
	border: none;
}

.item-title {
	line-height: 25px;
	font-size: 18px;
	/* color: #3D3D3D; */
	padding: 22px 0 7px;
	font-family: 'PingFangSC-Regular', "Microsoft YaHei", Tahoma, sans-serif;
	font-weight: normal;
}

.item-text {
	/* color: #9A9A9A; */
	font-size: 12px;
	line-height: 17px;
	height: 34px;
	overflow: hidden;
	font-family: 'PingFangSC-Regular', "Microsoft YaHei", Tahoma, sans-serif;
}


.Service-item:hover {
	border-color: #DEDDDD;
	padding-top: 26px;
	position: relative;
	z-index: 99;
	text-decoration: none;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	webkit-transform: translate3d(0, -3px, 0);
	transform: translate3d(0, -3px, 0);
}

.Service-item:hover .item-image {
	height: 60px;
	width: 60px;
	line-height: 60px;
	margin: 0 auto;
}

.Service-item:hover .item-link {
	display: block;
}

.Service-item:hover .item-title {
	padding: 10px 0 7px;
}

.Service-item+.Service-item {
	margin-left: 50px;
	position: relative;
}

.item-tag {
	width: 67px;
	height: 67px;
	color: #FFFFFF;
	position: absolute;
	transform: rotateZ(-315deg);
	top: 9px;
	right: 9px;
	font-size: 12px;
	line-height: 17px;
}

.item-background {
	width: 67px;
	height: 67px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.item-background img {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1080px) {
	.Service-item {
		display: block;
		width: 150px;
		/* padding: 30px 16px; */
		text-align: center;
		float: left;
		height: 240px;
		margin: 0 0 10px;
		border: 1px solid #E7E7E7;
		box-sizing: border-box;
		border-radius: 10px;
		overflow: hidden;
	}

	.Service-item+.Service-item {
		margin-left: 10px;
		position: relative;
	}

}

/* 预约页面 */
	
.finishedRow td span {
		color: #fff!important;
	}